section {
  display: flex;
  justify-content: space-evenly;
  height: 512px;
}

img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: 1px orange solid;
}

p {
  text-align: justify;
  width: 300px;
  height: auto;
  border: 1px black solid
}
